<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration/Login</title>
  <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
</head>
<body>
  <div class="container">
    <h2 class="mt-5">Register/Login</h2>
    <form>
      <div class="md-form">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" >
      </div>
      <div class="md-form">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="md-form">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="node_modules/mdbootstrap/js/mdb.min.js"></script>
</body>
</html>
