@mixin theme($theme: rgb(2, 18, 90)){
    background: $theme;
    box-shadow: 0 0 1px rgba($theme, 0.25);
}

$primary-color: #e5e8f5;
$font: Helvetica, sans-serif;

body {
  font-family: $font;
  color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;
}
